@font-face {
  font-family: 'AvenirNextRegular';
  src: url('assets/fonts/AvenirNextRegular.eot');
  src: url('assets/fonts/AvenirNextRegular.eot') format('embedded-opentype'),
  url('assets/fonts/AvenirNextRegular.woff2') format('woff2'),
  url('assets/fonts/AvenirNextRegular.woff') format('woff'),
  url('assets/fonts/AvenirNextRegular.ttf') format('truetype'),
  url('assets/fonts/AvenirNextRegular.svg#AvenirNextRegular') format('svg');
}
@font-face {
  font-family: 'AvenirNextMedium';
  src: url('assets/fonts/AvenirNextMedium.eot');
  src: url('assets/fonts/AvenirNextMedium.eot') format('embedded-opentype'),
  url('assets/fonts/AvenirNextMedium.woff2') format('woff2'),
  url('assets/fonts/AvenirNextMedium.woff') format('woff'),
  url('assets/fonts/AvenirNextMedium.ttf') format('truetype'),
  url('assets/fonts/AvenirNextMedium.svg#AvenirNextMedium') format('svg');
}
@font-face {
  font-family: 'AvenirNextDemiBold';
  src: url('assets/fonts/AvenirNextDemiBold.eot');
  src: url('assets/fonts/AvenirNextDemiBold.eot') format('embedded-opentype'),
  url('assets/fonts/AvenirNextDemiBold.woff2') format('woff2'),
  url('assets/fonts/AvenirNextDemiBold.woff') format('woff'),
  url('assets/fonts/AvenirNextDemiBold.ttf') format('truetype'),
  url('assets/fonts/AvenirNextDemiBold.svg#AvenirNextDemiBold') format('svg');
}