.page-id-453,
.page-id-456,
.page-id-459 {
  background: #f6f6f6;
  color: #1f2d3d;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 17px;
  box-sizing: border-box;

  .et_pb_row {
    max-width: 1080px;
  }

  #main-header {
    display: none;
  }

  .et_pb_button {
    background-color: #ff5379;
    color: #fff;
    font-size: 19px;
    height: 55px;
    letter-spacing: 0;
    margin-left: 0;
    min-width: 235px;
    padding-top: 6px !important;
    text-transform: uppercase;
    &:after {
      font-size: 23px;
      margin-left: 15px !important;
    }
    &:hover {
      background-color: #ff3965;
      border-color: #ff3965;
      &:after {margin-left: 25px !important;}
    }
  }//.et_pb_button

  #main-footer {

    > .container {
      display: none;
    }

    #footer-bottom {
      background: url(assets/img/bg_footer.jpg) no-repeat center;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      #logo {
        max-width: 100%;
      }
    }

  }//#main-footer

}







.section-hero {
  //height: 37.5rem;
  height: 300px;
  transition: all .3s;
  @media screen and (max-width: 480px) {
    height: 268px !important;
  }
  > section {
    background-position: center;
    display: flex;
    height: 100%;
    padding: 0 0 4% !important;
    @media screen and (min-width: 1730px) {
      border-bottom: 10px solid rgba(89, 92, 199, .8);
    }
    @media screen and (max-width: 480px) {
      background-image: url(assets/img/bg_header_mobile.jpg) !important;
      display: flex;
      padding-bottom: 0 !important;
    }
  }
  .header-logo {
    //margin-top: .8rem;
    @media screen and (max-width: 1400px) {
      max-width: 190px;
    }
    @media screen and (max-width: 1200px) {
      max-width: 170px;
    }
    @media screen and (max-width: 1024px) {
      max-width: 150px;
    }
    @media screen and (max-width: 768px) {
      max-width: 115px;
    }
  }
  .header-content {
    @media screen and (max-width: 480px) {
      background-color: #fff;
      border-radius: 10px;
      max-width: 150px !important;
      width: 100%;
    }
  }
}//.section-hero

.section-hero-title.et_pb_section {
  padding: 0;

  > .et_pb_row {
    padding: 15px 0;
    @media screen and (max-width: 1024px) {
      width: 90%;
    }
  }

  h2 {
    font-size: 38px;
    line-height: 1.03;
    letter-spacing: -1px;
    max-width: 100rem;
    margin: auto;
    padding: 0;
    @media screen and (max-width: 768px) {
      //font-size: 45px;
      line-height: 1.2;
    }
    @media screen and (max-width: 480px) {
      font-size: 31px;
    }
  }
}//.section-hero-title





.section-form {
  background-color: #f5f8fc;
  line-height: 1;
  @media screen and (min-width: 981px) {
    padding-top: 0 !important;
    padding-bottom: 55px !important;
  }
  @media screen and (max-width: 980px) {
    padding-top: 25px;
    padding-bottom: 35px;
  }
  @media screen and (max-width: 480px) {
    padding-top: 0;
    padding-bottom: 25px;
  }

  > .et_pb_row {
    &:first-child {
      margin-bottom: 5px;
      padding: 10px 0;
      width: 90%;
    }
    &:not(:first-child) {
      @media screen and (max-width: 980px) {
        padding-bottom: 0;
        width: 90%;
      }
      .et_pb_text {
        @media screen and (max-width: 1024px) {
          font-size: 24px;
        }
        @media screen and (max-width: 980px) {
          text-align: center;
        }
      }
    }
  }//  > .et_pb_row

  h6 {
    font-weight: 400;
    line-height: normal;
    padding: 0;
    span {
      font-size: 46.6px;
      text-transform: uppercase;
    }
    + p {font-size: 18px;}
  }


  .et_pb_contact p input,
  .et_pb_contact p textarea,
  .et_pb_contact p select,
  .et_pb_subscribe .et_pb_contact_field input,
  .et_pb_subscribe .et_pb_contact_field textarea {
    background: none;
    border-bottom: 1px solid #384353;
    font-size: 19px;
    padding: 12px 16px;
    @include  placeholder {
      color: #384353;
      font-weight: 300;
      opacity: .5;
    }
  }
  .et_pb_contact p select {
    color: #384353;
    font-weight: 300;
    height: 51px;
    opacity: .7;
  }




  //FORM
  .et_pb_row:last-child {
    background-color: #fff;
    @media screen and (min-width: 981px) {
      border-radius: 10px;
      box-shadow: 0 16px 38px #eaeff3;
      max-width: 1110px;
      overflow: hidden;
      padding: 0;
      display: flex;
      justify-content: space-between;
      &:after {content: none;}
    }

    .et_pb_column {
      &:last-child {
        background-color: #343d48;
        font-weight: 400;
        line-height: normal;
        padding: 30px 3.3%;
      }
      @media screen and (min-width: 981px) {
        padding: 25px 0 0 6%;
        width: 60%;
        &:last-child {
          padding-bottom: 50px;
          width: 34%;
        }
      }

    }//.et_pb_column


  }//et_pb_row

  .et_pb_contact_form_container {
    display: flex;
    flex-direction: column;
    position: relative;

    .et_pb_contact_main_title {
      //line-height: normal;
      order: 1;
      position: absolute;
      top: 275px;
      @media screen and (max-width: 1024px) {
        top: 260px;
      }
      @media screen and (max-width: 980px) {
        padding: 0 40px;
        top: 300px;
      }
      @media screen and (max-width: 768px) {
        top: 560px;
      }
      @media screen and (max-width: 680px) {
        top: 530px;
      }
      @media screen and (max-width: 580px) {
        top: 510px;
      }
      @media screen and (max-width: 500px) {
        font-size: 14px;
        padding: 0 20px;
        top: 505px;
      }
      @media screen and (max-width: 410px) {
        top: 480px;
      }
      @media screen and (max-width: 320px) {
        top: 460px;
        margin: 5px -10px 0;
      }
    }//.et_pb_contact_main_title

    .et_pb_contact {
      order: 2;
      @media screen and (max-width: 980px) {
        padding: 0 40px;
      }
      @media screen and (max-width: 500px) {
        padding: 0 20px;
      }

      .et_pb_contact_form {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
      }
      .et_pb_contact_field_half {
        float: none;
        position: relative;
        &.required:before {
          position: absolute;
          left: 20px;
          color: red;
          content: '*';
          top: 0;
          bottom: 0;
          margin: auto;
          font-size: 14px;
          height: 9px;
          @media screen and (max-width: 380px) {
            left: 5px;
          }
        }
      }
    }//.et_pb_contact

    .et-pb-contact-message {
      margin-top: 30px;
      order: 3;
      @media screen and (max-width: 980px) {
        margin-top: 20px;
        padding-left: 40px;
        ul {
          padding: 0;
        }
      }
    }

    //BUTTON
    .et_contact_bottom_container {
      float: none;
      text-align: center;
      margin-top: 77px;
      margin-left: auto;
      margin-right: auto;
      @media screen and (max-width: 1250px) {
        transform: translateY(20px);
      }
      @media screen and (max-width: 1024px) {
        transform: translateY(10px);
      }
      @media screen and (max-width: 480px) {
        transform: translateY(20px);
      }

      .et_pb_button:before {
        display: block;
        content: 'No credit card required';
        font-size: 16px;
        position: absolute;
        bottom: -25px;
        left: 0;
        color: #384353;
        width: 100%;
        opacity: 1;
        text-align: center;
        margin: 0;
      }

    }//.et_contact_bottom_container
  }



}//.section-form








.see-expressions {
  @media screen and (min-width: 981px) {
    padding-top: 0 !important;
    padding-bottom: 25px !important;
  }
  @media screen and (max-width: 480px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .et_pb_text {
    font-weight: 400;
  }

}//.see-expressions




.quantitative-research {
  background-image: linear-gradient(30deg, #f7fafd 26%, transparent 0);
  @media screen and (min-width: 981px) {
    padding-bottom: 25px !important;
    padding-top: 20px !important;
  }
  @media screen and (max-width: 480px) {
    padding-top: 5px !important;
    padding-bottom: 25px;
  }


  .surveys-talk-back-row {
    max-width: 1120px;
    padding-top: 20px;
    @media screen and (min-width: 1024px) {
      margin-bottom: 30px;
    }
    h3 {
      font-weight: 400;
    }

    .et_pb_column {
      font-weight: 400;

      h3{
        padding-left: 15px;
        padding-right: 15px;
      }

      @media screen and (min-width: 981px) {
        &:first-child .et_pb_text:after {
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJcAAABuCAMAAAAd3HGaAAAAOVBMVEUAAABiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeI9wh1wAAAAEnRSTlMAAAECBAkQGSQxQFFkeZGqxeJJ+elxAAABmklEQVR4Xu3ZQW6DQBAF0coEmsYeYyb3P2wWViQWcWKENNTCdYIn9eIvmi9nb9fb9XZ5Ih5Nl7oIOK3ODw/bxvl2qmpNnjadRmszf1bm9QzWOvJv2V+2Fl4pW+cjjrxWuXZ1zbxcdDzmwo7KrZtrYldzJ9bKzqbWxXVlb2MXWOKEBQdgMheT1EVKXaTURUpdVKmLKnVRpS5uUle5d3DJYIETFhxqaD1cog0PnLDACQsOl1IXKXWRUhez1EWVuqhSF1XqYungOn/DAycscMK2LtNUBk5Y0AF2votR6iKlLlLqIqUuLlIXVeqiSl1Up+v4VAZOWNABZnJRVp/r+IYHTljQAWZzEVIXKXWRUhcpdXGVuqhSF1Xq4nbQJdrwwAkLnLCgT6UdcIk2PHDCAics6NckdZFSFyl1MUtdVKmLKnVRpS6W3S7RhgdOWCCAWVwMbZdLtOGBExYIYCYXKXWRUhcpcO19JBU2iTYclLA7TtiVs/t9Kge2aTa8ghHWBpSwYBuSqWwTksZ1w1pGPOX9R5W4+vgchqF88LRvfDkepd1EQlIAAAAASUVORK5CYII=') no-repeat center;;
          height: 110px;
          left: 19%;
          margin-top: -7px;
          width: 151px;
          @media screen and (max-width: 1024px) {left: 15%;}
        }
        &:nth-child(2) .et_pb_text:after {
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFcAAABACAMAAABYxRt9AAAARVBMVEUAAABiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJwIGuOAAAAFnRSTlMAAAEECAkMEBkgJCcvMUBRZHmRqsXiknQz1gAAAO9JREFUeF7t1EFSxDAMBdHGQRBMxjjymPsflQLYUOBZWP676QO8+qWFeNf0y727d7d8dvZFXPe38hXfpbIAbRfjTxadXI1/s5B6bowKnKLvjNum2Za4VZtk620Wn2RB4TYkbksBN8TiU6zC7UbADbK4hsUnWIGbkbgZiZuRuBckbkXiViRuReKeSNyWJlwBiwfYqHtNKNxuTLgaFg+wIfcZiZuRuBmJm5G4BYlbkbgViVuRuI7EbSnoalh8xCrcvqFwuxHONSw+YNe7OxI3syTXsLiGpQx+TbRdw8JVw2JdwoL9LPbE2h6eXo/j5ZFwH42t5pcF+RKwAAAAAElFTkSuQmCC') no-repeat center;
          height: 64px;
          left: 36%;
          margin-top: -7px;
          width: 87px;
        }
        &:nth-child(3) .et_pb_text:after {
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAAAtCAMAAADItog5AAAAPFBMVEUAAABiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeKQ3jILAAAAE3RSTlMAAAEECRAVGSAkLzFAUWR5qsXiHgAFWwAAAJxJREFUeF7l1jEOgzAUBNGJY0IMYMC5/11ToS+FBk+b6Z+2XT66v6IwzFuvWp6cpaV1wJaJIK336chPw93hg0v5pl3RdkHZoFerKcVTiqcUT5k9pXpK9ZTqKZunaRc0rKBhJSU1TclN0LCChpWU0VOKpxRPKZ6yekr1lOop1dO0CxpW0LCSkg5NyS0o2o5Ye9DfcH4QUXpP0+vB2RfVD2DRhdmVCwAAAABJRU5ErkJggg==') no-repeat center;
          height: 45px;
          margin-top: -5px;
          right: 19%;
          width: 58px;
        }
        &:last-child .et_pb_text:after {
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAH0AAABdCAMAAAC/8pkhAAAAOVBMVEUAAABiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeJiaeI9wh1wAAAAEnRSTlMAAAECBAkQGSQxQFFkeZGqxeJJ+elxAAABQElEQVR4Xu3aMW7DMBAF0QlDypS8pszc/7ApjICF4VgNNY3nAq/5wDbLj9lHN/roUh99e9TORO/t+lD5K239FHnflsRzpJhPr5mX1bl2FP5tnWjfMu9q04a28L48Cb9yqJhh9wvHusxYeuFgaQKeOFw3cZqJ0ybglt4znt4Lgj5wQR+4qFdEvSLqFVFfEfVA1ANRD0T9hqjvydAHLugD9/Se8PReEPSBC/rARf2CqFdEvSLqFVEPRD0Q9UDUA1Hfk6EPXNAH7un3hKf3gqAPXNAHLuoLol4R9YqoV0R9Q9QDUQ9EPRD1HVHfk6EPXNAH7um9ME03cZqJ097jol4R9YqoV0R9RdQDUQ9EPRD1hqjvydAHLugD9/Se8PReOKnNxCkvcWd2F04s96ezdmbVxGHpIs749GsLSinn/P3F5H4BcMWG4k1D8NEAAAAASUVORK5CYII=') no-repeat center;
          height: 93px;
          left: 20%;
          margin-top: -10px;
          width: 125px;
        }
      }//@media screen and (min-width: 981px)


      .et_pb_text {
        min-height: 180px;
        overflow: visible;
        padding-bottom: 15px !important;
        padding-top: 15px !important;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 100%;
        }
        @media screen and (max-width: 768px) {
          min-height: 150px;
        }
        @media screen and (max-width: 480px) {
          min-height: 100px;
        }
      }//.et_pb_text

    }//.et_pb_column

    + .et_pb_row {
      width: 90%;
    }
  }//.surveys-talk-back-row

}//.quantitative-research

.marketers-list {
  max-width: 860px;
  margin: auto;

  h3 {
    line-height: normal !important;
    margin-bottom: 24px;
  }

  ul {
    list-style: none;
    margin-top: 45px;
    @media screen and (max-width: 480px) {
      font-size: 18px !important;
      padding-left: 0;
    }
    li {
      background: url(assets/img/checkbox.png) no-repeat left center;
      margin-bottom: 11px;
      min-height: 40px;
      padding-left: 60px;
      padding-top: 6px;
    }
  }//ul

}//.marketers-list